.App{
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

ul {
  list-style-type: none;
  
}
li{
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  font-size: 14px;
  
}
input:focus {
  outline: none;
}